@charset "UTF-8";
.table-th {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #213c4b;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #213c4b;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #213c4b;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: #55595c;
  vertical-align: top;
  border-color: rgba(0, 0, 0, 0.05);
}

.table-th > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table-th > tbody {
  vertical-align: inherit;
}

.table-th > thead {
  vertical-align: bottom;
}

.table-th > :not(:first-child) {
  border-top: 2px solid currentColor;
}

.table-thema{
  --bs-table-bg: #070c11;
  --bs-table-striped-bg: #3e444a;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #213c4b;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #213c4b;
  --bs-table-hover-color: #fff;
  color: #fff;
  border-color: #484e53;
}
.table-hover > tbody > tr:hover > * {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}
.btn-my {
  display: inline-block;
  font-weight: 600;
  line-height: 1.5rem;
  color: #ced4da;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgba(225, 225, 225, 0.15);
  border: 0 solid transparent;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-my:hover {
  color: #ced4da;
  background-color: rgba(225, 225, 225, 0.5);
}
.innerContainer{
	background-color: #070c11;
	padding: 20px;
	width: 1000px;
	border-radius: 10px;
}
.innerWrap{
	background-color: #070c11;
	padding: 20px;
	border-radius: 10px;
}
.innerContainer input{
	border-radius: 5px;
	background-color: 
}
#searchBox{
	margin-top: 50px;
}
.container input{
	border-radius: 5px;
}
.container select{
	border-radius: 5px;
}
.form-group span{
	margin-left: 5px;
}
.text-fff {
  --bs-text-opacity: 1;
  color: #ffffff !important;
}